<!-- <p>footer works!</p> -->
<!-- <div class="conteiner-fluid bg-primary">
    
</div> -->
<!-- <nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="conteiner-fluid">
        <div class="d-flex flex-row align-items-center bg-primary">
            <i class="bi bi-facebook fs-5 px-2"></i>
            <i class="bi bi-tiktok fs-5 px-2"></i>
            <i class="bi bi-instagram fs-5 px-2"></i>
        </div>
        <div>
            <p>Copyright @{{currentDate | date: 'y'}}. All Rights Reserved</p>
        </div>
        
    </div>
</nav> -->
<!-- <div class="container"> -->
    <footer class="pt-2 mt-3 border-top">
        <div class="row">
            <div class="d-flex justify-content-center py-2">
                <i class="bi bi-facebook fs-5 px-2"></i>
                <i class="bi bi-tiktok fs-5 px-2"></i>
                <i class="bi bi-instagram fs-5 px-2"></i>
            </div>
        </div>

        <div class="row">
            <div class="d-flex justify-content-center">
                <div class="col-3">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stuff for
                                developers</a>
                        </li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another resource</a>
                        </li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- <div class="col-12"> -->
            <!-- <img class="mb-2" src="../assets/brand/bootstrap-logo.svg" alt="" width="24" height="19"> -->
            <div class="d-flex justify-content-center">
                <small class="d-block mb-3 text-muted">&copy; {{currentDate | date: 'y'}}</small>
                <!-- </div> -->
            </div>
        </div>
    </footer>
<!-- </div> -->